/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/10/2021, 07:19:29 PM
    Author     : Manuel
*/
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');
body {
    background: green;
    font-family: 'Roboto', sans-serif;
    
  }

.pagina{
    max-width: 80%;
    margin: 1em 10em;
    background: white;
    box-shadow: 0px 0px 100px;
    padding: 10px;
    border-radius: 20px;
}
.header .logo{
    position: absolute;
    margin-top: 0%;
}
.pagina .header .logo{
    width: 100%;
}

ul.navbar {
    display:flex; 
    margin-left: 5%;
    list-style: none;                
}
.navbar li a{
    text-decoration: none;
    background: green;
    display: block;
    padding: 10px;
    color: white;
    border: 4px forestgreen ridge;
}
.navbar li a:hover{
    background-color:gold;
    border-color: linen;
}
.navbar li .active{
    background: gold;
    color: black;
    /*border: 4px black ridge;*/
}
@media(max-width: 768px) {
    .pagina.navbar{
        flex: 1 1 50%;
    }
    
}
/*.navbar ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}
.navbar ul li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solidblack;
}
ul.navbar a {
    text-decoration: none;
}
a:link {
    color: blue; 
}
a:visited {
    color: purple;
}
*/
.contenido{
    background: white;
    
}
h1{
    color: green;
    border-bottom: 1px solid black;
    font-family: 'Anton', sans-serif;
}
.bg-color{
    background: white;
}
.footer{
    background: green;
    color: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}
label, input, textarea{
    display: block;
    padding: 6px;
    margin: 6px;
}
.form-agregar .formu{
    margin: 0 auto;
}
.caja2 h2{
    text-align: center;
}
.form-agregar p{
    text-align: center;
    
}


.caja2{
    background:lightgoldenrodyellow;
}
.caja{
    display: flex;
}
.caja-cont{
    background:lightyellow;
    display: flex;
 }
 .caja-cont h2{
     margin-left: 4em;
     padding-left: 3em;
 }
 .caja-cont .formu-contac{
    margin-left: 13em;
}
.caja > div{
    width: 50%;
    padding: 10px;
    
}

.btn{
    margin-left: 2.5em;
    text-align: center;
    display: inline;
    width: 10em;
    background: green;
    color: white;
    border-radius: 1em;
    font-size: 1em;


}

.formu{
    width: 20em;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid green
}
.form-agregar a{
    color: black;
    text-decoration: none;
}
.form-agregar a:hover{
    color: black;
    text-decoration: underline;
}

